<md-content flex layout="column" class="container" ng-init = "init()">
<md-toolbar class="md-primary md-hue-2 md-whiteframe-z1" layout="row" layout-align="space-around left">
        <md-input-container md-no-float flex-gt-lg="70">
            <input class="search" ng-model="search.naziv" placeholder="Pretrazi akte">
        </md-input-container>
        
        
        <div hide-gt-sm></div>
</md-toolbar>
<div class = "container">
<md-divider></md-divider>
	<div class = "frame" layout-padding layout="column" layout-align = "start left">
	<form layout = "column">
	<label>Prikazi akte po stanju:</label>
        <md-select ng-model="currStanje">
        	<md-option value="">
            SVI
          </md-option>
          <md-option ng-repeat="stanje in stanja" value="{{stanje}}">
            {{stanje}}
          </md-option>
        </md-select>
      </form>
      </div>
	<md-card>
		<md-card-container>
			<md-button  ng-show = "loggedUser.uloga" class ="md-raised md-primary" ng-click = "dodajNoviAkt()" flex = "50">Dodaj novi akt</md-button>
			<md-divider></md-divider>
			<md-list>
				<md-list-item ng-repeat = "akt in akti | filter :{naziv: search.naziv, stanje: currStanje}" ng-click="openAktDetails()" ng-show = "akti.length>0">
				<p style = "color:FF6600; font-size:100%;"> {{ akt.naziv }} </p>
				
				<md-divider></md-divider>
				<md-button  ng-show = "loggedUser.uloga && loggedUser.username == akt.ovlascenoLice.koDodaje" class="md-icon-button" aria-label="Cancel">
					            <md-icon  class="material-icons" ng-click = "deleteAkt(akt)">delete_forever</md-icon>
					             <md-tooltip>Izbrisi akt</md-tooltip>
					          </md-button>
			 	<md-button ng-show = "loggedUser.uloga && akt.stanje == 'Predlozen'" class="md-icon-button" aria-label="Cancel">
					            <md-icon  class="material-icons" ng-click = "createAmandman(akt)">create</md-icon>
					             <md-tooltip>Kreiraj amandman na akt</md-tooltip>
					          </md-button>
				<md-button ng-show = "true" class="md-icon-button" aria-label="Cancel">
					            <md-icon  class="material-icons" ng-click = "openPDF(akt)">picture_as_pdf</md-icon>
					             <md-tooltip>Otvori u PDF-u</md-tooltip>
					          </md-button>
			    <md-button ng-show = "true" class="md-icon-button" aria-label="Cancel">
					            <md-icon  class="material-icons" ng-click = "openXTML(akt)">open_in_new</md-icon>
					             <md-tooltip>Otvori XTML</md-tooltip>
					          </md-button>
				</md-list-item>
				<md-list-item ng-show="akti.length ===0"><label>Ne postoje dostupni akti </label></md-list-item>
				
			</md-list>
		</md-card-container>
	</md-card>
	
</div>
</md-content>